/**
 *
 * Purple Glass Theme
 *
 **/

* {
    background:     #000000CC;
    background-alt: #1A1A1ACC;
    foreground:     #A020F0FF;
    selected:       #9370DBFF;
    active:         #A020F0FF;
    urgent:         #FF4444FF;
}
